<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122220854443-lc1gm78or3ubo621h6f3fm6mtfg6r9qm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122220854443-lc1gm78or3ubo621h6f3fm6mtfg6r9qm</string>
	<key>API_KEY</key>
	<string>AIzaSyBrOR_MXkrAyAYaFfttsjmr1SYp4X1WcWA</string>
	<key>GCM_SENDER_ID</key>
	<string>122220854443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.baseproject</string>
	<key>PROJECT_ID</key>
	<string>hub-tenant3</string>
	<key>STORAGE_BUCKET</key>
	<string>hub-tenant3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122220854443:ios:cf1fdfe55859beba4b4bee</string>
	<key>DATABASE_URL</key>
	<string>https://hub-tenant3.firebaseio.com</string>
</dict>
</plist>